@{
    ViewData["Title"] = "Biz haqimizda";
    Layout = "_Layout";
}

<!-- Page Content -->
<div class="page-heading about-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h2>ARMEDBOOKS haqida</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/images/feature-image.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Bizning Missiyamiz</h4>
                    <p>ARMEDBOOKS 2019-yildan buyon MDHda harbiy-sanoat noutbuklarining yetakchi yetkazib beruvchisi hisoblanadi. Kompaniyamiz barqarorlik, xavfsizlik va ekstremal sharoitlarda ishlashning eng yuqori standartlariga javob beradigan ishonchli kompyuter uskunalarini sotishga ixtisoslashgan. Biz og‘ir ish sharoitlariga bardosh bera oladigan uskunalarga muhtoj bo‘lgan harbiy, sanoat va korxona mijozlari uchun echimlarni taqdim etamiz. ARMEDBOOKS yuqori sifatli mahsulotlar, arzon narxlar, MDH bo‘ylab tezkor qo‘llab-quvvatlash va yetkazib berishni kafolatlaydi, mijozlarga har qanday sharoitda ishonishi mumkin bo‘lgan texnologiyalarni taqdim etadi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
