@{
    ViewData["Title"] = "Bog'lanish";
    Layout = "_Layout";
}

<!-- Page Content -->
<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h2>Biz bilan bog'laning</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="find-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Bizning manzilimiz</h2>
                </div>
            </div>
            <div class="col-md-8">
                <!-- How to change your own map point
                    1. Go to Google Maps
                    2. Click on your location point
                    3. Click "Share" and choose "Embed map" tab
                    4. Copy only URL and paste it within the src="" field below
                -->
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d187.34195164871312!2d69.2673615!3d41.2986113!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8adc49c40f91%3A0xaae95c8e7b967118!2z0JzQuNGA0LDQsdCw0LTRgdC60LDRjyDRg9C70LjRhtCwIDEyLCDQotCw0YjQutC10L3RgiwgVGFzaGtlbnQ!5e0!3m2!1sru!2s!4v1731605308918!5m2!1sru!2s"
                            width="100%"
                            height="330px"
                            frameborder="0"
                            style="border: 0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left-content">
                    <p>
                        <strong>Rossiya:</strong> г.Москва, Бибиревская
                        улица 9
                    </p>
                    <p>
                        <strong>O'zbekiston:</strong> Toshkent sh.
                        Mirobod ko'cha 12
                    </p>
                    <p><strong>OAE:</strong> AJMAN HORIZON TOWERS</p>
                    <p><strong>Turkiya:</strong> Ahmet Hikmet 23</p>
                    <p>
                        <strong>Telefon raqamlari:</strong><br />
                        +998911116565<br />+79036690077
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
