@{
    ViewData["Title"] = "Asosiy";
    Layout = "_Layout";
}
<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h2>Har bir mahsulot qattiq sifat nazoratidan o'tadi</h2> 
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h2>Ortiqcha to'lovlarsiz eng yaxshi echimlar</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h2>MDH boʻylab tezkor qoʻllab-quvvatlash va yetkazib berish</h2>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->

<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Mahsulotlar</h2>
                    <a href="products.html">barcha mahsulotlarni ko'rish <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="~/images/product_01.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Tittle goes here</h4></a>
                        <h6>$25.75</h6>
                        <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (24)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="~/images/product_02.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Tittle goes here</h4></a>
                        <h6>$30.25</h6>
                        <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (21)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="~/images/product_03.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Tittle goes here</h4></a>
                        <h6>$20.45</h6>
                        <p>Sixteen Clothing is free CSS template provided by TemplateMo.</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (36)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="~/images/product_04.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Tittle goes here</h4></a>
                        <h6>$15.25</h6>
                        <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (48)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="~/images/product_05.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Tittle goes here</h4></a>
                        <h6>$12.50</h6>
                        <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (16)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-item">
                    <a href="#"><img src="~/images/product_06.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>Tittle goes here</h4></a>
                        <h6>$22.50</h6>
                        <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (32)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Biz haqimizda</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Eng yaxshi mahsulotlarni qidiryapsizmi?</h4>
                    <p>ARMEDBOOKS 2019-yildan buyon faoliyat yurituvchi MDHda harbiy-sanoat noutbuklarining yetakchi yetkazib beruvchisi hisoblanadi</p>
                    <ul class="featured-list">
                        <li><a href="#">Harbiy, sanoat va korporativ mijozlar uchun maxsus yechimlar</a></li>
                        <li><a href="#">Ishonchli va bardoshli kompyuter uskunalari</a></li>
                        <li><a href="#">MDH bo'ylab tezkor yetkazib berish va qo'llab-quvvatlash</a></li>
                        <li><a href="#">Yuqori sifat va qulay narxlar kombinatsiyasi</a></li>
                        <li><a href="#">Barqarorlik va xavfsizlikka ega, ekstremal sharoitlarga moslashtirilgan texnika</a></li>
                    </ul>
                    <a href="about.html" class="filled-button">Batafsil</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/images/feature-image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Ekstremal Sharoit Uchun Mukammal Mahsulotlar</h4>
                            <p>Yuqori standartlarga javob beradigan, ekstremal sharoitlarga chidamli texnologiyalar.</p>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="filled-button">Hozir sotib oling</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

